.nav-link{
	color: black;
	font-family: Arial;
}
.nav-link:hover{
	color: #a0a0a0;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

td a{
	text-decoration: none;
	color: black;
}

body{
	overflow-x:hidden;
}

td a:hover{
	text-decoration: none;
	color: #a0a0a0;
}

#slide{
	position: absolute;
    z-index: 900;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}
.groove {border-style: groove;}
